altgraph==0.17.4
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
macholib==1.16.3
packaging==25.0
pdfminer.six==20250327
pdfplumber==0.11.6
pillow==11.2.1
pycparser==2.22
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.3
pypdfium2==4.30.1
pytesseract==0.3.13
setuptools==79.0.1
